body {
    color: white;
  }
  
  .all-pages-contant {
    margin-top: 2.4rem;
  }
  
  .contact-us {
    margin: 1rem;
  }
  
  .contact-us h2 {
    text-align: left;
    margin: 3rem auto 0 1rem;
  }
  
  /* ------------------------------------------------------------------ */
  
  #contact {
    padding-top: 8em;
  }
  
  label {
    color: white;
  }
  
  .email {
    display: inline-flex;
    position: relative;
  }
  
  .email p {
    margin-left: 1rem;
  }
  
  .phone {
    display: flex;
    position: relative;
    margin: 0.6rem auto;
  }
  
  .phone p {
    margin-left: 1rem;
  }
  
  .location{
    display: flex;
    position: relative;
    margin: 0.6rem auto;
  }
  
  .location p{
    margin-left: 21px;
  }
  
  .text {
    color: white;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: 2em;
    background-color: #000000b5;
    border-radius: 4px;
    /* padding: 2em; */
  }
  
  .contact-info-container,
  .formbold-form-wrapper {
    padding: 0.8em 1em;
  }
  
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  
  .formbold-pt-3 {
    padding-top: 12px;
  }
  
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }
  
  .formbold-form-wrapper {
    margin: 0 auto;
    /* max-width: 550px; */
    width: 100%;
    /* background: white; */
  }
  
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 12px;
  }
  
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .formbold-form-input {
    width: 90%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    color: #dbdbdb;
    outline: none;
    resize: none;
  }
  
  .formbold-form-input:focus,
  .formbold-form-input-other:focus {
    border-color: #cccccc;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  
  .formbold-form-input-other {
    width: 100%;
    /* padding: 12px 24px; */
    /* border-radius: 6px; */
    border: 0;
    border-bottom: 1px solid #b9b9b9;
    /* background: white; */
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    resize: none;
  }
  
  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 9px 30px;
    border: none;
    font-weight: 600;
    background-color: #5b5d5e;
    color: white;
    cursor: pointer;
  }
  
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    background-color: rgb(179, 179, 179);
    color: black;
  }
  
  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .w-full {
    width: 100%;
  }
  
  .form-radio-btn {
    display: flex;
    flex-direction: column;
    padding: 0 0.6em;
  }
  
  .form-container-flex {
    display: flex;
    column-gap: 0.4em;
  }
  
  .responsive-map {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .responsive-map iframe {
    width: 100%;
    height: 100%;
  }
  
  .map-container {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
  
  @media (min-width: 800px) {
    .contact-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 2em;
      color: #044460;
    }
  }